.iHover {}

.iHover:hover {
  fill: #17368a;
}

.AiFillPlusCircle {}

.AiFillPlusCircle:hover {
  fill: green;
}

.contact {
  color: grey;
}

.contact:hover {
  fill: black;
}

.ReactCollapse--collapse {
  overflow: hidden;
  transition: height 500ms;
}